/*-- Master stylesheet

/*-- Variables & mixins
@import "vars/_colors.sass"
@import "vars/_mixins.sass"


/*-- Components
@import "comps/_movieList.sass"
@import "comps/_header.sass"
@import "comps/_player.sass"

/*-- Body styles
body
  font-family: Roboto, sans-serif
  background-color: $dark__3
  color: $light__2
  padding-top: 112px

/*-- Temporary styles

