/*-- Movie list (Device)
.movie__grid--list
  .section__title
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    height: 34px
    padding: 0 0 0 16px
    font-size: 20px
    font-weight: 500
    text-transform: uppercase
  .movie__list
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: 100%
    overflow-x: auto
    margin: 0
    padding: 8px 8px 8px 8px
    .movie__item
      position: relative
      display: block
      margin: 0 8px
      width: 145px
      @include border-radius(0.2rem)
      background-color: $dark__4
      overflow: hidden
      @include box-shadow(1)
      @include easing-standard(0.3s)
      figure
        margin: 0
        padding: 0
        img
          display: block
          width: 100%
      h2
        display: flex
        justify-content: flex-start
        align-items: center
        padding: 0 0 0 8px
        height: 28px
        font-size: 16px
        font-weight: 500
      &:active
        @include transform(translateY(-2px))
        @include box-shadow(2)

/*-- Movie list (Desktop)
@media only screen and (min-width: 960px)
  .movie__grid--list
    .movie__list
      .movie__item

